<a href="https://colab.research.google.com/github/brj007/Movie-Review-Sentiment-Analysis/blob/master/sent_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from string import punctuation
from collections import Counter
%matplotlib inline

In [0]:
sentiment_data = pd.read_csv('kaggle_sentiment1.csv',sep='\t',encoding='latin-1')
sentiment_data.columns =['Class', 'Data']

In [0]:
unlabeld_data = pd.read_csv('unlabeld_data.txt', sep='\t',encoding='latin-1')
unlabeld_data.columns = ['Data']

In [6]:
sentiment_data.head()

   Class                                               Data
0      1  this was the first clive cussler i've ever rea...
1      1                   i liked the Da Vinci Code a lot.
2      1                   i liked the Da Vinci Code a lot.
3      1  I liked the Da Vinci Code but it ultimatly did...
4      1  that's not even an exaggeration ) and at midni...

In [7]:
unlabeld_data.head()

                                                Data
0  harvard is dumb, i mean they really have to be...
1                   I'm loving Shanghai > > > ^ _ ^.
2                        harvard is for dumb people.
3  As i stepped out of my beautiful Toyota, i hea...
4  Bodies being dismembered, blown apart, and mut...

In [0]:
from sklearn.utils import shuffle
sentiment_data = shuffle(sentiment_data)
unlabeld_data = shuffle(unlabeld_data)

In [9]:
sentiment_data.head()

      Class                                               Data
3743      1                      I love Brokeback Mountain....
965       1                        I love The Da Vinci Code...
6060      0            1-BROKEBACK MOUNTAIN IS A STUPID MOVIE.
2390      1                        I, too, like Harry Potter..
101       1  to their right ALSO read and LOVED the Da Vinc...

In [0]:
labels = sentiment_data.iloc[:, 0].values
reviews = sentiment_data.iloc[:, 1].values
unlabeled_reviews = unlabeld_data.iloc[:,0].values

In [0]:
reviews_processed = []
unlabeled_processed = [] 
for review in reviews:
    review_cool_one = ''.join([char for char in review if char not in punctuation])
    reviews_processed.append(review_cool_one)
    
for review in unlabeled_reviews:
    review_cool_one = ''.join([char for char in review if char not in punctuation])
    unlabeled_processed.append(review_cool_one)
    word_reviews = []
word_unlabeled = []
all_words = []
for review in reviews_processed:
    word_reviews.append(review.lower().split())
    for word in review.split():
        all_words.append(word.lower())

for review in unlabeled_processed:
    word_unlabeled.append(review.lower().split())
    for word in review.split():
        all_words.append(word.lower())
    
counter = Counter(all_words)
vocab = sorted(counter, key=counter.get, reverse=True)

In [13]:
vocab_to_int = {word: i for i, word in enumerate(vocab, 1)}
reviews_to_ints = []
for review in word_reviews:
    reviews_to_ints.append([vocab_to_int[word] for word in review])
    unlabeled_to_ints = []

for review in word_unlabeled:
    unlabeled_to_ints.append([vocab_to_int[word] for word in review])
    reviews_lens = Counter([len(x) for x in reviews_to_ints])
print('Zero-length {}'.format(reviews_lens[0]))
print("Max review length {}".format(max(reviews_lens)))

Zero-length 0
Max review length 931

In [20]:
seq_len = 250

features = np.zeros((len(reviews_to_ints), seq_len), dtype=int)
for i, review in enumerate(reviews_to_ints):
    features[i, -len(review):] = np.array(review)[:seq_len]
    
features_test = np.zeros((len(unlabeled_to_ints), seq_len), dtype=int)
for i, review in enumerate(unlabeled_to_ints):
    features_test[i, -len(review):] = np.array(review)[:seq_len]
    X_train = features[:6400]
y_train = labels[:6400]

X_test = features[6400:]
y_test = labels[6400:]

X_unlabeled = features_test

print('X_train shape {}'.format(X_train.shape))
print('X_unlabeled shape {}'.format(X_unlabeled.shape))

X_train shape (6400, 250)
X_unlabeled shape (28936, 250)

In [0]:
hidden_layer_size = 512 # how many nodes LSTM cells will have
number_of_layers = 1 # how many RNN layers the network will use
batch_size = 100 # how many reviews we feed at onces
learning_rate = 0.001 # learning rate
number_of_words = len(vocab_to_int) + 1 #how many unique words do we have in vocab (+1  is used for 0 - padding)
dropout_rate = 0.8 
embed_size = 300 #how long our word embedings will be
epochs = 6 # how many epochs do we use for training
tf.reset_default_graph() #Clean the graph
inputs = tf.placeholder(tf.int32, [None, None], name='inputs')
targets = tf.placeholder(tf.int32, [None, None], name='targets')

In [0]:
word_embedings = tf.Variable(tf.random_uniform((number_of_words, embed_size), -1, 1))
embed = tf.nn.embedding_lookup(word_embedings, inputs)
hidden_layer = tf.contrib.rnn.BasicLSTMCell(hidden_layer_size)
hidden_layer = tf.contrib.rnn.DropoutWrapper(hidden_layer, dropout_rate)

cell = tf.contrib.rnn.MultiRNNCell([hidden_layer]*number_of_layers)
init_state = cell.zero_state(batch_size, tf.float32)

In [0]:
outputs, states = tf.nn.dynamic_rnn(cell, embed, initial_state=init_state)
prediction = tf.layers.dense(outputs[:, -1], 1, activation=tf.sigmoid)
cost = tf.losses.mean_squared_error(targets, prediction)

optimizer = tf.train.AdamOptimizer(learning_rate).minimize(cost)
currect_pred = tf.equal(tf.cast(tf.round(prediction), tf.int32), targets)
accuracy = tf.reduce_mean(tf.cast(currect_pred, tf.float32))
session = tf.Session()
session.run(tf.global_variables_initializer())

In [19]:
for i in range(epochs):
    training_accurcy = []
    ii = 0
    epoch_loss = []
    while ii + batch_size <= len(X_train):
        X_batch = X_train[ii:ii+batch_size]
        y_batch = y_train[ii:ii+batch_size].reshape(-1, 1)
        
        a, o, _ = session.run([accuracy, cost, optimizer], feed_dict={inputs:X_batch, targets:y_batch})

        training_accurcy.append(a)
        epoch_loss.append(o)
        ii += batch_size
    print('Epoch: {}/{}'.format(i, epochs), ' | Current loss: {}'.format(np.mean(epoch_loss)),
          ' | Training accuracy: {:.4f}'.format(np.mean(training_accurcy)*100))

Epoch: 0/6  | Current loss: 0.04026738554239273  | Training accuracy: 94.8438
Epoch: 1/6  | Current loss: 0.009149414487183094  | Training accuracy: 98.8594
Epoch: 2/6  | Current loss: 0.004835137166082859  | Training accuracy: 99.4219
Epoch: 3/6  | Current loss: 0.002597333397716284  | Training accuracy: 99.7187
Epoch: 4/6  | Current loss: 0.0012043464230373502  | Training accuracy: 99.8906
Epoch: 5/6  | Current loss: 0.0007803334738127887  | Training accuracy: 99.9219

In [21]:
test_accuracy = []

ii = 0
while ii + batch_size <= len(X_test):
    X_batch = X_test[ii:ii+batch_size]
    y_batch = y_test[ii:ii+batch_size].reshape(-1, 1)

    a = session.run([accuracy], feed_dict={inputs:X_batch, targets:y_batch})
    
    test_accuracy.append(a)
    ii += batch_size
print("Test accuracy is {:.4f}%".format(np.mean(test_accuracy)*100))

Test accuracy is 98.8000%

In [22]:
predictions_unlabeled = []
ii = 0
while ii + batch_size <= len(X_unlabeled):
    if ii + batch_size > len(X_unlabeled):
        batch_size = len(X_unlabeled) - ii
    X_batch = X_unlabeled[ii:ii+batch_size]
    y_batch = X_unlabeled[ii:ii+batch_size].reshape(-1, 1)

    pred = session.run([prediction], feed_dict={inputs:X_batch, targets:y_batch})
    
    predictions_unlabeled.append(pred)
    ii += batch_size
print("Test accuracy is {:.4f}%".format(np.mean(predictions_unlabeled)*100))

Test accuracy is 56.5191%

In [23]:
pred_real = []
for i in range(len(predictions_unlabeled)):
    for ii in range(len(predictions_unlabeled[i][0])):
        if predictions_unlabeled[i][0][ii][0] >= 0.5:
            pred_real.append(1)
        else:
            pred_real.append(0)
np.savetxt('predictions.txt', pred_real)
new_dataframe = unlabeld_data[:len(pred_real)]
new_dataframe['Classes'] = pred_real

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [24]:
new_dataframe

                                                    Data  Classes
4125               I love the London Little People, btw.        1
16053                     I also am a big fan of Toyota.        1
2010                          i want to see aaa.... > <.        0
18847                                 I love Boston too!        1
21632  Prolly going to Cambridge on Tuesday, I need t...        1
9431   I think Angelina Jolie is so much more beautif...        1
26610  I used to think the Mastercard commercials wer...        0
4183                                     I LOVE SEATTLE.        1
26628                                  stupid lakers....        0
27176  i look across my beautiful boston, and somethi...        0
2381    i love shanghai ~ ~ ~ ~ ????????????????? ~ ~ ~.        1
19471                    I love the San Antonio Spurs!!.        1
23127  We need a Boston Tea Party to save us from thi...        0
20697                               I so want a MacBook.        0
26218                           = D i love Tom Cruise!!!        1
20256  i think if i hate boston, ill just disappear t...        0
10909  personally, i still love my 1999 toyota camry,...        1
28422  For those who say he doesn't deserve it cuz th...        0
23808  personally, i still love my 1999 toyota camry,...        1
2951   London yesterday kinda sucked tbh, well, the H...        0
10112         welp i guess thats why i love seattle = ].        1
9669   I'm beginning to really distrust Toyota dealer...        1
16680  I like the sony vaio, but I'm glad you're happ...        1
13400                             PURDUE FUCKIN ROCKS!!!        1
24218                               , Boston is great...        0
22199  London yesterday kinda sucked tbh, well, the H...        0
27864                     then again i hate tom cruise..        0
7064   Today, when Monkee was backing out of the Milp...        1
2858   i dont know anything about cars but i love my ...        0
15368  It was really ironic that he spent the first p...        0
...                                                  ...      ...
26852                      oh! Traffic in Seattle sucks!        0
6847       I told her that UCLA is excellent for both...        1
4388                                    i love shanghai!        1
26531    will admitting that the new york knicks suck...        0
11588                           I hate paris hilton too!        0
28804                               I hate London!!!!!!!        0
25553                                 I love Boston too!        1
7337   Harvard Square is a beautiful sight when the w...        1
28428   But then he goes and tells me that Boston sucks.        0
26340                         the dallas mavericks suck.        0
17628  War is hell for any President and I believe My...        0
20702  And i've managed to cover all of my own food e...        1
17935                             seattle sucks anyways.        0
9440    i love Kappo Honda, which is across the street..        1
425    UCLA is beautiful because it's so hilly, but I...        0
9962   so we had to call his mom and they came then w...        0
15044                     As much as I hate Tom Cruise..        0
23812  I can only imagine, with the bloated egos and ...        1
17147                        UCLA is stupid, I realized.        0
11152  i hate the Lakers too but this isn't a basketb...        0
15591  + + + Bruce Willis hat den PrÃ ¤ sident von Ko...        0
1573   It's not like we want to see the Dallas Maveri...        1
1534   i prefer teams such as the San Antonio Spurs a...        0
1637   Personally, I blame Angelina Jolie, a psycholo...        0
8562                        By the way, I hate LONDON...        0
23373  ????that stupid BOX CAR-HONDA CRX = o = ? CRAP...        0
14209  i look across my beautiful boston, and somethi...        1
803                              i love seattle so much.        1
3678                             i love my new Macbook..        1
7152                           I really hate Tom Cruise.        0

[28900 rows x 2 columns]

[link text](https://)# New Section